/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}



.history_wrap {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    overflow-y: auto;
}

.history_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1px;
    height: 100%;
    background: #999;
}

.history_wrap .item {
    clear: both;
    padding-top: 40px;
}

.history_wrap .item:first-child {
    padding-top: 0;
}

.history_wrap .item .cont,
.history_wrap .item .image {
    width: 50%;
    box-sizing: border-box;
}

.history_wrap .item .cont {
    float: right;
    position: relative;
    padding-left: 5%;
}

/* 짝수 순서 내용 */
.history_wrap .item:nth-child(even) .cont {
    float: left;
    padding-left: 0;
    padding-right: 5%;
}

.history_wrap .item .cont strong {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    color: #1b5db0;
}

.history_wrap .item .cont strong::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    display: block;
    width: 25px;
    height: 1px;
    background: #999;
}

.history_wrap .item:nth-child(even) .cont strong::before {
    left: auto;
    right: 0;
}

.history_wrap .item .cont dl {
    margin-top: 10px;
    font-size: 0;
}

.history_wrap .item .cont dl:first-child {
    margin-top: 0;
}

.history_wrap .item .cont dt,
.history_wrap .item .cont dd {
    display: inline-block;
    font-size: 14px;
}

.history_wrap .item .cont dt {
    width: 30%;
    vertical-align: top;
    font-weight: 600;
    color: #999;
}

.history_wrap .item .cont dd {
    width: 70%;
    word-break: keep-all;
}

.history_wrap .item .image {
    float: left;
    padding-right: 5%;
}

/* 짝수 순서 이미지 */
.history_wrap .item:nth-child(even) .image {
    float: right;
    padding-left: 5%;
    padding-right: 0;
}

.history_wrap .item .image img {
    width: 100%;
    border-radius: 10px;
}