/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}




#header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    font-weight: bold;
    color: var(--color-black);
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 4;
}



.navbar_logo1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    width: 380px;
    padding-left: 80px;
    
}

.navbar1 {
    padding-right: 0px;
    z-index: 5;
}


header h1 {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 6;
}


#topMenu { height: 30px; /* 메인 메뉴의 높이 */ 
    width: 850px; /* 메인 메뉴의 넓이 */ } 
    
#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */ 
    list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */ 
    margin: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */ 
    padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */ } 
    
#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */ 
    color: white; /* 글씨 색을 흰색으로 설정 */ 
    background-color: #2d2d2d; /* 배경 색을 RGB(2D2D2D)로 설정 */ 
    float: left; /* 왼쪽으로 나열되도록 설정 */ 
    line-height: 30px; /* 텍스트 한 줄의 높이를 30px로 설정 */ 
    vertical-align: middle; /* 세로 정렬을 가운데로 설정 */ 
    text-align: center; /* 텍스트를 가운데로 정렬 */ 
    position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */ } 
    
.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */ 
    text-decoration:none; /* a 태그의 꾸밈 효과 제거 */ 
    display: block; /* a 태그의 클릭 범위를 넓힘 */ 
    width: 150px; /* 기본 넓이를 150px로 설정 */ 
    font-size: 12px; /* 폰트 사이즈를 12px로 설정 */ 
    font-weight: bold; /* 폰트를 굵게 설정 */ 
    font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */ } 
    
.menuLink { /* 상위 메뉴의 글씨색을 흰색으로 설정 */ 
    color: white; } 

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */ 
    color: red; /* 글씨 색 빨간색 */ 
    background-color: #4d4d4d; /* 배경색을 밝은 회색으로 설정 */ } 
    
.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */ 
    color: #2d2d2d; /* 글씨 색을 RGB(2D2D2D)로 설정 */ 
    background-color: white; /* 배경색을 흰색으로 설정 */ 
    border: solid 1px black; /* 테두리를 설정 */ 
    margin-top: -1px; /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */ } 
    
.longLink { /* 좀 더 긴 메뉴 스타일 설정 */ 
    width: 190px; /* 넓이는 190px로 설정 */ } 
    
.submenu { /* 하위 메뉴 스타일 설정 */ 
    position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */ 
    height: 0px; /* 초기 높이는 0px로 설정 */ 
    overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */ 
    transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */ 
    -webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */ 
    -moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */ 
    -o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */ } 
    
.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */ 
    height: 93px; /* 높이를 93px로 설정 */ } 
    
.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */ 
    color: red; /* 글씨색을 빨간색으로 설정 */ 
    background-color: #dddddd; /* 배경을 RGB(DDDDDD)로 설정 */ }

  

header > ul {
    display: flex;
    position: absolute;
    right: 30px;
    top: 0;
    width: 170px;
    background: f2f2f2;
}

header > ul li {
    flex: 1;
    padding: 0 0 0 18px;
    line-height: 70px;
}

header > ul li a::after {
    content: " ";
    display: inline-block;
    width: 23px;
    height: 23px;
    background:url(imgs/home-background.png) no-repeat;
    vertical-align: middle;
}

header nav > ul li:first-child a::before {
    background-position: 0 0;
}

header > ul li:last-child a::before {
    background-position: -23px 0;
}

header #lib {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 50%;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

header #lib nav {
    text-align: center;
    font-size: 0;
    width: 100%;
    z-index: 4;
}


header #lib nav:hover {
    text-align: center;
    font-size: 0;
    width: 100%;
    height: 500px;
    background: #042e6f;
    color: black;
    z-index: 4;
}

header #lib nav > ul {
    display: inline-block;
    height: 69px;
    overflow: hidden;
}

header #lib nav > ul:hover {
    overflow: visible;
}

header #lib nav > ul + div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1010px;
    background: #042e6f;
}

header #lib nav > ul > li {
    display: inline-block;
    position: relative;
}

header #lib nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 69px;
    font-size: 18px;
    color: #fff;
    line-height: 69px;
}

header #lib nav > ul > li > a::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
}

header #lib nav > ul > li > a:hover::after {
    left: 0;
    width: 100%;
}

header #lib nav > ul ul {
    position: absolute;
    width: 100%;
    padding: 22px 0 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

header #lib nav > ul:hover ul {
    display: block;
    opacity: 1;
}

header #lib nav > ul ul li {
    line-height: 39px;

}

header #lib nav > ul ul a {
    font-size: 14px;
    color: #fff;
}

header #lib nav > ul ul a:hover {
    color: #2acef1;
}

header #lib nav > ul ul a:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 0;
    height: 2px;
    background: #2acef1;
    transition: all 0.5s;
}

header #lib nav > ul ul a:hover::after {
    left: 0;
    width: 100%;
}

.navbar_toggle-btn {
    position: absolute;
    top: 25px;
    right: 32px;
    font-size: 30px;
    color: var(--color-black);
    display: none;
}












/* Navbar */




#navbar {
    position: fixed;
    width: 100%;
    display: none;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    font-weight: bold;
    color: var(--color-white);
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 4;
}

#navbar.navbar--dark {
    background-color: white;
    color: black; 
    border-bottom: 1px solid grey;
    padding: 8px;
}

.navbar_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    width: 380px;
    padding-left: 80px;
}

.navbar_menu {
    display: flex;
    padding-right: 90px;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

#sub_menu {
    display: none;
}

.navbar_menu_item:hover #sub_menu{
    display: block;
}

.navbar_menu_item.active {
    /*border: 2px solid #47c5cc;*/
    background-color: #47c5cc;
}

.navbar_menu_item:hover #sub-menu {
    opacity: 1;
    visibility: visible;
}

.navbar_menu_item:hover {
    /*background-color: var(--color-dark-pink);*/
    background-color: #47c5cc;
}

.navbar_toggle-btn {
    position: absolute;
    top: 25px;
    right: 32px;
    font-size: 30px;
    color: var(--color-black);
    display: none;
}





  /* Home */
/*
#home {
    height: 850px;
    background: url('imgs/home-background.png') center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}



#video {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}
*/

#home {
    height: 1010px;
    display: flex;
    align-items: center;
    color: #fff;
}


.fullscreen-video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}



.header-overlay {
    height: 1010px;
    width: 50%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-grey);
    z-index: 1;
    opacity: 0.4;
}


.header-overlay2 {
    height: 1010px;
    width: 50%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


/*
.container2 {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}
.header-overlay {
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.85;
}*/



.header-content {
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

}


.header-content > h3 {
    font-size: 70px;
    margin-bottom: 20px;
    color: var(--color-white);
    text-align: left;
    font-family: 'Nanum Pen Script', cursive;
    margin-left: 30%;
    margin-right: 30%;
}

.btn {
    background: #3dc5cc;
    color: #fff;
    font-size: 1.2rm;
    padding: 1rem 2rem;
    text-decoration: none;
}






/*
#home {
    position: relative;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
*/

.home_avart {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home_title,
.home_description {
    color: var(--color-white);
}

.home_contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section_container {
    max-width: 1200px;
    margin: auto;
}

/* solution */
#solution {
    background-color: white;
}

.solution_majors1 {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.solution_majors2 {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}


/*
.major_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major_icon i {
    transition: all var(--animation-duration);
}
.rmslog i {
    transition: all var(--animation-duration);
}

.rmslog:hover i {
    transform: scale(1.1);
}
*/


.rmslog {
    width: 200px;
    transition: all 0.8s ease;
}

/*
.rmslog:hover {
    box-shadow: 5px 5px 5px 5px #00c2cb;
}


.major {
    width: 250px;
}*/

.major_title {
    color: var(--color-dark-grey);
    font-size: 20px;
}


/* Client */

.client_img {
    display: flex;
    justify-content: space-around;
    margin: 0 0;
}

.client_icon {
    margin: 10px;
    width: 250px;
    height: 70px;
    padding: 8px;
    border: 2px solid #616161;
    background-color: white;
}

#client {
    background-color: #e6f2f2;
}

.clients {
    margin: 32px 0;
}


/* Contact */
#contact {
    background-color: var(--color-pink);
}

.contact_title,
.contact_email,
.contact_rights {
    color: var(--color-white);
}

.contact_title {
    margin: 32px 0;
}

.contact_links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact_links i:hover {
    transform: scale(1.1);
}


/* sub1 - about */
.sub1_page_banner {
    height: 350px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}


.sub1_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}

.sub1_page_banner.about{
    background-image:url(imgs/sub1_banner.jpg);
}

.sub1_page_banner.about > h2{
    z-index: 6;
}

#sub_about {
    padding: 0;
}

.sub1_header-overlay {
    height: 75px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1;
    opacity: 0.5;
}


/* sub1_tab menu */

.sub1_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    background: var(--color-white);
}

.section1 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

/* 라디오 버튼 숨김 */
input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
    width: 215px;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;  
}

label:hover {
    color: white;
    background: #00458b;
    cursor: pointer;
}


/* input 클릭시, lable 스타일 */
input:checked + label {
    color: var(--color-yellow);
    background: #00458b;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
    display: block;
}


.history {
    padding-top: 30px;
    text-align: left;
}


.history h2 {
    position: relative;
    font-size: 33px;
    color: #000;
    line-height: 1;
    margin: 0;
}

.history h2:before {
    content:""; position: absolute;
    left:-48px; top:50%; transform: translateY(-50%);
    width: 17px; height: 17px; border-radius: 100%;
    background:#fff; border: 5px solid #ff5a2b;
    box-sizing: border-box;
}

.history div {
    position: relative; 
    padding: 0 0 0 48px;
}

.history div:before { 
    content:""; 
    position:absolute; 
    left:8px; top:0;
    width: 2px; height:100%; 
    background:#ddd;
}

.history div:first-child:before { 
    top:10px; height:calc(100% - 10px);
}

.content_in {
    margin-left: 100px;
    margin-right: 100px;

    text-align: left;
}

.bar > p {
    text-align: left;
    border-left: 6px solid #00458b;
}

.map {
    overflow: hidden; 
    padding: 7px 11px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0px 0px 2px 2px; 
    background-color: rgb(249, 249, 249);
}

.history ol { 
    padding: 20px 0 74px;
    margin: 0; 
}

.history li {
    font-size: 17px; 
    color:#000; 
    line-height: 29px;  
}


/* sub2 - solution */
.sub2_page_banner {
    height: 350px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.sub2_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}
.sub2_page_banner.sub2_solution{
    background-image:url(imgs/home-background3.jpg);
}

#sub2_solution {
    padding: 0;
}

.sub2_header-overlay {
    height: 90px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1;
    opacity: 0.5;
}


/* sub2_tab menu */

.sub2_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background: var(--color-white);
}


#sub2_tab1:checked ~ #content1,
#sub2_tab2:checked ~ #content2,
#sub2_tab3:checked ~ #content3,
#sub2_tab4:checked ~ #content4,
#sub2_tab5:checked ~ #content5,
#sub2_tab6:checked ~ #content6,
#sub2_tab7:checked ~ #content7 {
    display: block;
}


/* sub3 - 구축사례 */

.sub3_page_banner {
    height: 350px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.sub3_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}
.sub3_page_banner.about{
    background-image:url(imgs/sub3_banner.jpg);
}


  /* Home */

#sub3_home {
    padding: 0;
}

.sub3_header-overlay {
    height: 90px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1;
    opacity: 0.5;
}
/* tab menu */

.sub3_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background: var(--color-white);
}


#sub3_tab1:checked ~ #content1,
#sub3_tab2:checked ~ #content2,
#sub3_tab3:checked ~ #content3,
#sub3_tab4:checked ~ #content4,
#sub3_tab5:checked ~ #content5,
#sub3_tab6:checked ~ #content6,
#sub3_tab7:checked ~ #content7 {
    display: block;
}


/* footer */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#616161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 50px;
    padding-left: 90px;
    padding-bottom: 50px;
}

.info {
    color: #ffffff;
    padding-left: 80px;
    font-size: 14px;
    }
    
.footer-content {
    display: flex;
}



/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    padding-top: 5px;
    color: var(--color-white);
    background-color: #47c5cc;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 860px screen width */

@media screen and (max-aspect-ratio: 1219/960) {
    #video {
        width: auto;
        height: 100vh;
    }
}

@media screen and (max-width: 1100px) {

    #header {
        display: none;
    }

    #navbar {
        display: flex;
    }
    
    .sub3_header-overlay,
    .sub2_header-overlay,
    .sub1_header-overlay {
        display: none;
    }

    .history li {
        font-size: 10px;  
    }

    .map {
        width: 100%;
        height: auto;
    }

    .navbar_menu {
        padding-right: 0px;
    }
    
    .navbar_logo {
        width: 250px;
        padding-left: 7px;
        padding-top: 5px;
    }

    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .navbar_toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-white);
    }

    .navbar_menu_item {
        color:  black;
    }

    .navbar_menu_item.active {
        border: 1px solid var(--color-black);
    }

    #navbar.navbar--dark {
        padding: 8px;
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }


    .navbar_menu.open {
        display: block;
    }

    .solution_majors1 {
        flex-direction: column;
        margin: 0px;
    }

    .solution_majors2 {
        margin: 0px;
        flex-direction: column;
        padding-left: 0px;
    }

    .major {
        margin-bottom: 38px;
    }

    .fullscreen-video-wrap video {
        display: none;
    }
    .header-overlay {
        /*display: none;*/
        width: 100%;
    }
    #home {
        background: url("imgs/home-background3.jpg");
    }

    .rmslog {
        width: 200px;
    }
    .major_title {
        font-size: 20px;
    }
    .header-overlay2 {
        width: 100%;
    }

    .ft_logo {
        display: none;
    }
    .footer {
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
    }

    .info {
        font-size: 11px;
        padding-left: 0px;
        margin: 0;
    }
}


