/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}




#header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    font-weight: bold;
    color: var(--color-black);
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 4;
}



.navbar_logo1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    width: 380px;
    padding-left: 80px;  
}

.navbar1 {
    padding-right: 0px;
    z-index: 5;
}


header h1 {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 6;
}


  

header > ul {
    display: flex;
    position: absolute;
    right: 30px;
    top: 0;
    width: 170px;
    background: f2f2f2;
}

header > ul li {
    flex: 1;
    padding: 0 0 0 18px;
    line-height: 70px;
}

header > ul li a::after {
    content: " ";
    display: inline-block;
    width: 23px;
    height: 23px;
    background:url(imgs/home-background.png) no-repeat;
    vertical-align: middle;
}

header nav > ul li:first-child a::before {
    background-position: 0 0;
}

header > ul li:last-child a::before {
    background-position: -23px 0;
}

header #lib {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding-left: 40%;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

header #lib nav {
    text-align: center;
    font-size: 0;
    width: 100%;
    z-index: 4;
}


header #lib nav:hover {
    text-align: center;
    font-size: 0;
    width: 100%;
    height: 500px;
    /*background: #042e6f;*/
    color: black;
    z-index: 4;
}

header #lib nav > ul {
    display: inline-block;
    height: 69px;
    overflow: hidden;
}

header #lib nav > ul:hover {
    overflow: visible;
}

header #lib nav > ul + div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1010px;
    background: #042e6f;
}

header #lib nav > ul > li {
    display: inline-block;
    position: relative;
}

header #lib nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 69px;
    font-size: 18px;
    color: #fff;
    line-height: 69px;
}

header #lib nav > ul > li > a::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
}

header #lib nav > ul > li > a:hover::after {
    left: 0;
    width: 100%;
}

header #lib nav > ul ul {
    position: absolute;
    width: 100%;
    padding: 22px 0 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

header #lib nav > ul:hover ul {
    display: block;
    opacity: 1;
}

header #lib nav > ul ul li {
    line-height: 39px;

}

header #lib nav > ul ul a {
    display: block;
    font-size: 14px;
    color: #fff;
}

header #lib nav > ul ul a:hover {
    /* color: #2acef1; */
    background: #47c5cc;
}

/*
header #lib nav > ul ul a:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 0;
    height: 2px;
    background: #2acef1;
    transition: all 0.5s;
}
*/

header #lib nav > ul ul a:hover::after {
    left: 0;
    width: 100%;
}

.navbar_toggle-btn {
    position: absolute;
    top: 25px;
    right: 32px;
    font-size: 30px;
    color: var(--color-black);
    display: none;
}




/* Navbar */




#navbar {
    position: fixed;
    width: 100%;
    display: none;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    font-weight: bold;
    color: var(--color-white);
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 4;
}

#navbar.navbar--dark {
    background-color: white;
    color: black; 
    border-bottom: 1px solid grey;
    padding: 8px;
}

.navbar_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    width: 380px;
    padding-left: 80px;
}

.navbar_menu {
    display: flex;
    padding-right: 90px;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

#sub_menu {
    display: none;
}

.navbar_menu_item:hover #sub_menu{
    display: block;
}

.navbar_menu_item.active {
    /*border: 2px solid #47c5cc;*/
    background-color: #47c5cc;
}

.navbar_menu_item:hover #sub-menu {
    opacity: 1;
    visibility: visible;
}

.navbar_menu_item:hover {
    /*background-color: var(--color-dark-pink);*/
    background-color: #47c5cc;
}

.navbar_toggle-btn {
    position: absolute;
    top: 16px;
    right: 32px;
    font-size: 25px;
    color: var(--color-black);
    display: none;
}





  /* Home */
/*
#home {
    height: 850px;
    background: url('imgs/home-background.png') center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}



#video {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}
*/

#home {
    height: 1010px;
    display: flex;
    align-items: center;
    color: #fff;
}


.fullscreen-video-wrap video {
    position: absolute;
    height: 1010px;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}



.header-overlay {
    height: 1010px;
    width: 50%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-grey);
    z-index: 1;
    opacity: 0.4;
}


.header-overlay2 {
    height: 1010px;
    width: 50%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


/*
.container2 {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}
.header-overlay {
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.85;
}*/



.header-content {
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

}


.header-content > h3 {
    font-size: 70px;
    margin-bottom: 20px;
    color: var(--color-white);
    text-align: left;
    font-family: 'Nanum Pen Script', cursive;
    margin-left: 25%;
    margin-right: 25%;
}

.btn {
    background: #3dc5cc;
    color: #fff;
    font-size: 1.2rm;
    padding: 1rem 2rem;
    text-decoration: none;
}






/*
#home {
    position: relative;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
*/

.home_avart {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home_title,
.home_description {
    color: var(--color-white);
}

.home_contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section_container {
    max-width: 1200px;
    margin: auto;
}

/* solution */
#solution {
    background-color: white;
}

.solution_majors1 {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.solution_majors2 {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}



.major_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major_icon i {
    transition: all var(--animation-duration);
    color: var(--color-blue);
}



.major_icon:hover i {
    transform: scale(1.1);
    transform: rotate(0.25turn);
    color: #00458b;
}



.rmslog {
    width: 200px;
    transition: all 0.8s ease;
}

/*
.rmslog i {
    transition: all var(--animation-duration);
}

.rmslog:hover {
    box-shadow: 5px 5px 5px 5px #00c2cb;
}


.major {
    width: 250px;
}*/

.major_title {
    color: var(--color-dark-grey);
    font-size: 20px;
}


/* Client */

.client_img {
    display: flex;
    justify-content: space-around;
    margin: 0 0;
}


.client_icon {
    margin: 10px;
    width: 200px;
    height: 60px;
    padding: 3px;
    border: 1px solid #616161;
    background-color: white;
}

.client_icon2 {
    margin: 10px;
    width: 200px;
    height: 60px;
}


#client {
    background-color: #e6f2f2;
}

.clients {
    margin: 10px 0;
}

.clients2 {
    display: none;
    margin: 10px 0;
}


/* 고객사 더보기 */
.client-plus {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.client-plus i {
    transition: all var(--animation-duration);
    color: var(--color-blue);
}



.client-plus:hover i {
    transform: scale(1.1);
    transform: rotate(0.25turn);
    color: #00458b;
}




/* Contact */
#contact {
    background-color: var(--color-pink);
}

.contact_title,
.contact_email,
.contact_rights {
    color: var(--color-white);
}

.contact_title {
    margin: 32px 0;
}

.contact_links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact_links i:hover {
    transform: scale(1.1);
}



/* sub1 - about */
.sub1_page_banner {
    height: 365px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}


.sub1_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}

.sub1_page_banner.about{
    background-image:url(imgs/sub1_banner.jpg);
}

.sub1_page_banner.about > h2{
    z-index: 3;
}

#sub_about {
    padding: 0;
}

.sub1_header-overlay {
    height: 69px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1;
    opacity: 0.5;
}




/* sub1-1 */
#page-wrap {
    padding-top: 60px;
    margin: auto;
    width: 80vw;
}

#container_title {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px gray;
}

.bar > h2 {
    margin: auto;
    font-size: 34px;
}

.content_in {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content_in > h3 {
    margin: auto;
    font-size: 30px;
}

.content_in > p {
    margin: auto;
    font-size: 20px;
}


/* sub1-2 기업개요 - 기업정보 */
.sub1-2_table {
    width: 100%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
}


/* sub1-3 */
.content_in_sub1-3 {
    text-align: center;
}

#sub1_history_img1 {
    z-index: -1;
}



/* sub1-4 */

.content_in_map {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.sub1-4_table {
    width: 100%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

td {
    border: 1px solid #444444;
    padding: 10px;
}

#table_title {
    text-align: center;
    border: 1px solid white;
    background-color: #00458b;
    color: white;
}


/* sub2 - solution */
.sub2_page_banner {
    height: 365px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.sub2_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}
.sub2_page_banner.sub2_solution{
    background-image:url(imgs/home-background3.jpg);
}

#sub2_solution {
    padding: 0;
}

.sub2_header-overlay {
    height: 69px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-light-grey);
    z-index: 1;
    opacity: 0.5;
}


/* sub2-1_tab menu */

.sub1_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background: var(--color-white);
}

.section1 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

/* 라디오 버튼 숨김 */
input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-small);
    width: 215px;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;  
}

label:hover {
    color: white;
    background: #00458b;
    cursor: pointer;
}


/* input 클릭시, lable 스타일 */
input:checked + label {
    color: var(--color-yellow);
    background: #00458b;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
}


/* 추가 */

.history_wrap {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    overflow-y: auto;
}


/* 가운데 세로 선 */
.history_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 6px;
    height: 100%;
    /*background: #999;*/
    background:#62ddd6;
}

.history_wrap .item {
    clear: both;
    padding-top: 40px;
}

.history_wrap .item:first-child {
    padding-top: 0;
}

.history_wrap .item .cont,
.history_wrap .item .image {
    width: 50%;
    box-sizing: border-box;
}

.history_wrap .item .image {
    padding: 50px;
}

.history_wrap .item .cont {
    float: right;
    position: relative;
    padding-left: 5%;
}



/* 짝수 순서 내용 */
.history_wrap .item:nth-child(even) .cont {
    float: left;
    padding-left: 0;
    padding-right: 5%;
    text-align: right;
}

.history_wrap .item:nth-child(even) .cont dd{
    margin-right: 40px;
}

.history_wrap .item .cont strong {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    color: #365b6d;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

/* 원 */
.history_wrap .item .cont strong:before {  
    content:""; 
    position: absolute;
    left:-7px;
    top:28px; 
    transform: translateY(-50%);
    width: 22px; 
    height: 22px; 
    border-radius: 100%;
    background:#365b6d; 
    box-sizing: border-box;
}

.history_wrap .item:nth-child(even) .cont strong::before { 
    left:auto;
    top:28px;
    right: -14px;
}


/* 년도 가로선 
.history_wrap .item .cont strong::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    display: block;
    width: 25px;
    height: 1px;
    background: #999;
}

.history_wrap .item:nth-child(even) .cont strong::before {
    left: auto;
    right: 0;
}*/

.history_wrap .item .cont dl {
    margin-top: 10px;
    font-size: 0;
}

.history_wrap .item .cont dl:first-child {
    margin-top: 0;
}

.history_wrap .item .cont dt,
.history_wrap .item .cont dd {
    display: inline-block;
    font-size: 15px;
}

.history_wrap .item .cont dt {
    width: 20%;
    vertical-align: top;
    font-weight: 600;
    color:#365b6d; 
    font-family: 'Noto Sans KR', sans-serif;
}

.history_wrap .item .cont dd {
    width: 80%;
    word-break: keep-all;
    color:#365b6d;
    font-family: 'Noto Sans KR', sans-serif;
}

.history_wrap .item .image {
    float: left;
    padding-right: 5%;
}

/* 짝수 순서 이미지 */
.history_wrap .item:nth-child(even) .image {
    float: right;
    padding-left: 5%;
    padding-right: 0;
}


.history_wrap .item .image img {
    width: 100%;
    border-radius: 10px;
}


/* 연혁 */
.history {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*padding-top: 50px;
    padding-bottom: 100px;
    text-align: left;
    width: 100%;*/ 
}


#left {
    padding-right: 50%;
    text-align: right;
    /*width: 50%;
    float: left;*/
}

#right {
    padding-left: 50%;
    /*width: 50%;
    float: right;*/
}



/* 년도 */
.history >#right h2 {   
    position: relative;
    font-size: 28px;
    color: #365b6d;
    line-height: 1;
    margin: 0;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    
}

.history > #left h2 {   
    position: relative;
    font-size: 28px;
    color: #365b6d;
    line-height: 1;
    margin: 0;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}


/* 원 */
.history > #right h2:before {  
    content:""; 
    position: absolute;
    left:-8px; 
    top:50%; 
    transform: translateY(-50%);
    width: 22px; 
    height: 22px; 
    border-radius: 100%;
    background:#365b6d; 
    box-sizing: border-box;
}

.history > #left h2:before {  
    content:""; 
    position: absolute;
    right:-14px; 
    top:50%; 
    transform: translateY(-50%);
    width: 22px; 
    height: 22px; 
    border-radius: 100%;
    background:#365b6d; 
    box-sizing: border-box;
}

.history div {
    position: relative; 
    padding: 0 0 0 0px;
}


/* 세로선 박스 */
.history div:before { 
    content:""; 
    position:absolute; 
    left:50%; 
    top:0;
    width: 6px; 
    height:100%; 
    background:#62ddd6;    
}


.history div:first-child:before { 
    top:10px; 
    height:calc(100% - 10px);
}



.content_in {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

/*
.sub2_content_in {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}*/

.sub_title {
    display: flex;
}

.bar > h2 {
    text-align: left;
    border-left: 6px solid #00458b;
}

.bar2 {
    text-align: left;
    width: 20px;
    margin-bottom: 23px;
    border-bottom: 6px solid #00458b;
}

.map {
    overflow: hidden; 
    padding: 7px 11px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0px 0px 2px 2px; 
    background-color: rgb(249, 249, 249);
    width: 100%;
}

.history > #right ol { 
    padding: 20px 0 30px;
    margin: 0; 
    
}

.history > #right li {
    font-size: 18px; 
    color:#365b6d; 
    line-height: 29px;  
    padding-left: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}


.history > #left ol { 
    padding: 20px 0 30px;
    margin: 0; 
    
}

.history > #left li {
    font-size: 18px; 
    color:#365b6d; 
    line-height: 29px;  
    padding-right: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}



.sub_title {
    margin-bottom: 20px;
}
.content_item {
    margin-bottom: 100px;
}

.content_item_in {
    display: flex;
    justify-content: space-around;
}
#solution_img2 {
    margin: 20px;
}

/* 기업개요 - 인증현황 */
.sub1-2_table2 {
    width: 100%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

#grey {
    background-color: #e8e9eb;
}

.sub1-2_table2 > thead > tr > td {
    width: 33.33%;
    text-align: center;
}

.sub2-2_table {
    width: 70%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

/* 기업개요 - 인증현황 (페이지 줄인화면) */

.sub1-2_table3 {
    width: 100%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

.sub1-2_table3 > thead > tr > td {
    width: 100%;
    text-align: center;
}


.sub2_table2 {
    width: 100%;
    max-width: 1049.59px;
    border-collapse: collapse;
    
}

.small {
    display: none;
}

#table2_desc {
    border: none;
}

#table2_title {
    text-align: center;
    border: none;
}

#num {
    width: 25px;
}


#rms_img,
#rms_img_grey {
    width: 200px;
    height: 50px;
}

.sub2-1_table {
    width: 100%;
    max-width: 1049.59px;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

.sub2-1_table > thead > tr > td {
    width: 50%;
}

#grey > td {
    background: #f7f7f7;
}

/* sub2_tab menu */

.sub2_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background: var(--color-white);
}


#sub2_tab1:checked ~ #content1,
#sub2_tab2:checked ~ #content2,
#sub2_tab3:checked ~ #content3,
#sub2_tab4:checked ~ #content4,
#sub2_tab5:checked ~ #content5,
#sub2_tab6:checked ~ #content6,
#sub2_tab7:checked ~ #content7 {
    display: block;
}


/* sub3 - 구축사례 */

.sub3_page_banner {
    height: 365px;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.sub3_page_banner h2 {
    background:rgba(51, 53, 56, .9);
    position:absolute;
    left: 50%;
    bottom:-27px;
    transform:translateX(-50%);
    width: 250px;
    height: 70px;
    color: white;
    font-family: "Open Sans";
    padding: 15px 10px;
    box-shadow: 12px 12px 2px 1px #6E6E6E;
}
.sub3_page_banner.about{
    background-image:url(imgs/sub3_banner.jpg);
}


  /* Home */

#sub3_home {
    padding: 0;
}

.sub3_header-overlay {
    height: 69px;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1;
    opacity: 0.5;
}
/* tab menu */

.sub3_tab_menu {
    min-width: 320px;
    max-width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    background: var(--color-white);
}


#sub3_tab1:checked ~ #content1,
#sub3_tab2:checked ~ #content2,
#sub3_tab3:checked ~ #content3,
#sub3_tab4:checked ~ #content4,
#sub3_tab5:checked ~ #content5,
#sub3_tab6:checked ~ #content6,
#sub3_tab7:checked ~ #content7 {
    display: block;
}

.previous {
    float: left;
    width: 200px;
    font-size: 30px;
    color: gray;
}

.next {
    float: right;
    width: 200px;
    font-size: 30px;
    color: gray;
}

.desc > p {
    text-align: left;
    margin: auto;
}

/* 사이드 메뉴 */
input[id="menuicon"] {
    display:none;
}

input[id="menuicon"] + ul {
    display:block;
    position:fixed;
    right:0;
    top:50%;
    transform:translateY(-50%);
    transition:all .35s;
    text-align:right;
}

input[id="menuicon"] + ul > li {
    display:block;
    width:50px;
    height:50px;
    position:relative;
    margin-top:-1px;
}

input[id="menuicon"] + ul > li > a {
    display:block;
    width:auto;
    height:50px;
    overflow:hidden;
    transition:all .35s;
}

input[id="menuicon"] + ul > li > label {
    display:block;
    cursor:pointer;
    width:auto;
    height:50px;
    background: #dadada;
}

input[id="menuicon"] + ul > li:nth-child(1) label span {
    display:block;
    position:absolute;
    width:50%;
    height:3px;
    border-radius:30px;
    background:#333;
    transition:all .35s;
}

input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(1) {
    top:30%;
    left:50%;
    transform:translateX(-50%);
}

input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(2) {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(3) {
    bottom:30%;
    left:50%;
    transform:translateX(-50%);
}

/* 햄버거 버튼 위치 조정 */
input[id="menuicon"]:checked + ul {
    z-index:2;
    right:219px;
}



input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(1) {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(2) {
    opacity:0;
}

input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(3) {
    bottom:50%;
    left:50%;
    transform:translate(-50%,50%) rotate(-45deg);
}

div[class="sidebar"] {
    width:215px;
    height:100%;
    background:#f5f5f5;
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .35s;
}

input[id="menuicon"]:checked + ul + div {
    color: black;
    right:0;}

.content > dl > dd:hover {
    color: grey;
}



.accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:14px;
    border-radius:10px;
    width:600px;
    background:#f5f5f5;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    color:#542437;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {

    color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    margin:0 0 10px;
}
.accordion h3 {

    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}

.vertical ul li .content {
    color: black;
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:300px;
}






/* footer */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#616161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 50px;
    z-index: -1;
}

.info {
    color: #ffffff;
    padding-left: 80px;
    font-size: 14px;
    }
    
.footer-content {
    display: flex;
}



/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    padding-top: 5px;
    color: var(--color-white);
    background-color: #47c5cc;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    z-index: 99;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    

    .previous,
    .next {
        font-size: 20px;
    }

    .fullscreen-video-wrap video {
        position: absolute;
        height: 1010px;
        width: auto;
        z-index: -1;
        object-fit: cover;
        overflow: hidden;
    }


    .header-overlay {
        height: 1010px;
        width: 50%;
        position:absolute;
        top: 0;
        left: 0;
        background: #616161;
        z-index: 1;
        filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000)";
    }
    
    .sub1_header-overlay {
        height: 69px;
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background: white;
        z-index: 1;
        filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000)";
    }

    .sub2_header-overlay {
        height: 69px;
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background: #7c7979;
        z-index: 1;
        filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000)";
    }

    .sub3_header-overlay {
        height: 69px;
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background: white;
        z-index: 1;
        filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000)";
    }
}



/* For below 860px screen width */

@media screen and (max-aspect-ratio: 1219/960) {
    #video {
        width: auto;
        height: 100vh;
    }
}

@media screen and (max-width: 1100px) {

    .big {
        display: none;
    }
    .small {
        display: block;
    }

    .sub1-2_table,
    .sub1-2_table2 {
        width: 100%;
    }
    .sub2-2_table {
        width: 100%;
    }

    .content_item_in {
        display: contents;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .next > h3,
    .previous > h3 {
        display: none;
    }
    .next,
    .previous {
        width: 100px;
    }
    #solution_img {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }
    .client_icon2 {
        display: none;
    }

    .history > #left li,
    .history > #right li {
        font-size: 10px;
        width: 100%;
    }

    .history >#left h2,
    .history >#right h2 {
        font-size: 15px;
    }

    .sub1_page_banner.about > h2 {
        font-size: 20px;
    }

    .history_wrap .item .cont strong {
        font-size: 20px;
    }

    .history_wrap .item .cont dt,
    .history_wrap .item .cont dd {
        font-size: 10px;
    }

    .history_wrap .item .cont dd {
        margin-left: 20px;
    }

    .history_wrap .item:nth-child(even) .cont dd{
        margin-left: 0px;
        margin-right: 20px;
    }

    #sub1_history_img1 {
        width: 100%;
    }
    #page-wrap {
        margin: auto;
        padding: 0px;
        width: 90%;
    }

    .content_in {
        margin: 0;
    }

    .bar > h2{
        font-size: 20px;
    }

    h2{
        font-size: 20px;
    }

    .content_in > h3 {
        margin: 0px;
        width: 300px;
        font-size: 25px;
    }

    .content_in > h3, p {
        margin: 0px;
        width: 300px;
    }

    .content_in > img {
        width: 100%;
    }



    #header {
        display: none;
    }

    #navbar {
        display: flex;
    }
    
    .sub3_header-overlay,
    .sub2_header-overlay,
    .sub1_header-overlay {
        display: none;
    }

    .history li {
        font-size: 10px;  
    }

    .content_in_map {
        width: 100%;
        height: auto;
    }

    .navbar_menu {
        padding-right: 0px;
    }
    
    .navbar_logo {
        width: 200px;
        padding-left: 7px;
        padding-top: 10px;
    }

    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .navbar_toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        /*align-items: flex-start;*/
        align-items: center;
        background-color: white;
    }

    .navbar_menu_item {
        color:  black;
    }

    .navbar_menu_item.active {
        border: 1px solid black;
    }

    #navbar.navbar--dark {
        padding: 8px;
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }


    .navbar_menu.open {
        display: block;
    }

    .solution_majors1 {
        flex-direction: column;
        margin: 0px;
    }

    .solution_majors2 {
        margin: 0px;
        flex-direction: column;
        padding-left: 0px;
    }

    .major {
        margin-bottom: 38px;
    }

    .fullscreen-video-wrap video {
        display: none;
    }
    .header-overlay {
        /*display: none;*/
        width: 100%;
        height: 500px;
    }
    #home {
        background: url("imgs/home-background3.jpg");
        height: 500px;
    }

    .rmslog {
        width: 150px;
    }
    .major_title {
        font-size: 15px;
    }
    .header-overlay2 {
        width: 100%;
        height: 500px;
        
    }
    .header-content {
        margin-top: 150px;
    }
    .header-content > h3{
        font-size: 40px;
    }

    .ft_logo {
        display: none;
    }
    .footer {
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
    }

    .info {
        font-size: 11px;
        padding-left: 0px;
        margin: 0;
        width: 100%;
    }
}

